@import './base.css';
@import './public.css';

a {
  text-decoration: none;
}
@keyframes slidein {
  60% { transform: scale(1.06); }
}

canvas.animation {
  animation: slidein .3s alternate;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}
